<section class = "py-5">
  <div class = "container">
  <h1>Managers</h1>
  
    <div>
      <%= bootstrap_form_for :session, url: login_path do |f| %>  
        <p>
          <%= f.text_field :username %>
    
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.submit "Login" , :id => "button", :class => "btn btn-primary"%>
        </p>
        
      <% end %>  
    </div>
  </div>
</section>