<h1>Break Bread</h1>
<div id = "contents"> <!-- put image here I think --> 

<%= button_to "Login", nil, {:class => "button"} %>
<%= button_to "Review", nil, {:class => "button"} %>
<!-- %= button_to "Login", managers_path, :class => "button", :method => :get % --> 
</div>