<!--

-->
<!DOCTYPE html>
<html lang="en">


<body>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" id = "image-background1">
    <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">--><!-- we can put a logo here if we want -->
    <div style = "height: 200px;"></div>
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1 id = "page-title"><strong>Break Bread</strong></h1>
      <div class = "d-flex justify-content-around">
        <p class="lead">Welcome to your solution to improving your dinning at Sovi</p>
      </div>
      <div class = "d-flex justify-content-around">
        <h2>Submit a Review</h2>
      </div>
      <div style="height: 20px;"></div>
      <div class = "row">
          <div class = "col-sm-12 text-center">
            <%= button_to "Review", submit_review_path, :id => "button", :class => "btn center-block", :method => :get  %>
          </div>
      </div>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" id= "image-background2">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <div class = "d-flex justify-content-around">
        <h1>Managers</h1>
      </div>
      <div class = "d-flex justify-content-around">
        <p class="lead">Login</p>
      </div>  
      <%= button_to "Login", login_path, :id => "button", :class => "btn center-block", :method => :get %> <!--login_path is defined in routes.rb-->
    </div>
  </section>


</body>

</html>

