<!-- Import fonts within style tag -->
<style>
    @import url('https://fonts.googleapis.com/css?family=Archivo+Black');
</style>

<body>
    <!-- <%= image_tag("sovi.jpg", :class => "background")%>-->
     <h1>Break Bread</h1>
     
     <section>
     <div id = "contents"> <!-- put image here I think --> 

    <%= button_to "Login", nil, {:class => "button"} %>
    <%= button_to "Review", nil, {:class => "button"} %>
    <!-- %= button_to "Login", managers_path, :class => "button", :method => :get % --> 
    </div>
    </section>
</body>



