<section class = "py-5">
  <div class = "container">
  <h1>Managers</h1>
  
    <div>
      <%= bootstrap_form_for :food, url: add_food_path do |f| %>  
        <p>
          <%= f.text_field :name %>
        </p>
        <!-- put dropdown for class -->
        <!-- put dropdown for time of day-->
        <p>
          <%= f.submit "submit" , :id => "button", :class => "btn btn-primary"%>
        </p>
        
      <% end %>  
    </div>
  </div>
</section>