<%= render'form' %>

<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.charts.load('current', {'packages':['corechart']});
        
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() {
            
        // Create our data table out of JSON data loaded from server.
        var jsonData = JSON.parse('<%= @specific_foods.to_json(:only => [ :name, :likes, :dislikes ]).html_safe %>')
        //console.log(jsonData)
        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('number', 'likes');
        data.addColumn('number', 'dislikes');
        //use the json data in the rows
        if (Object.keys(jsonData).length > 1){
            jsonData.forEach(function(obj) { 
                array = [obj.name,obj.likes,obj.dislikes]
                data.addRow(array)
            //console.log(obj.name); 
            });
        }
        else{
            array = [jsonData[0].name,jsonData[0].likes,jsonData[0].dislikes]
            //console.log(array)
            data.addRow(array)
        }
      
        var options_fullStacked = {
            isStacked: 'percent',
            width: 600,
            height: 400,
            legend: {position: 'top', maxLines: 3},
            hAxis: {
              textStyle:{color: '#FFF'},
              minValue: 0,
              ticks: [0, .25, .5, .75, 1]
            },
            vAxis: {
              textStyle: {color: '#FFF'}
            },
            legend: {
              textStyle: {color: '#FFF'}
            },
            colors: ['#28ed2b', '#f44141'],
            backgroundColor: '#343a40'
          };
  
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options_fullStacked);
        
      }

    </script>
    <!-- second chart -->
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.charts.load('current', {'packages':['corechart']});
        
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
        
      function drawChart() {
            
        // Create our data table out of JSON data loaded from server.
        var jsonData = JSON.parse('<%= @reviews.to_json(:only => [:comment]).html_safe %>')
        console.log(jsonData);
        
        var map = {};
        var preselect = ["Flawless!",
                      "Too much seasoning",
                      "Too bland",
                      "Served too often",
                      "Temperature was off",
                      "Seemed unsanitary",
                      "Not served often enough",
                      "My favorite dish",
                      "Perfect amount of seasoning",
                      "It was OK"]
        console.log(preselect)
        for(i = 0; i < preselect.length; ++i){
          map[preselect[i]] = 0
        };
        console.log(map);
        
        //data.addColumn('string', 'comment');;
        //use the json data in the rows
        if (Object.keys(jsonData).length > 1){
            jsonData.forEach(function(obj) { 
                for(i = 0; i < preselect.length; ++i){
                  if (obj.comment === preselect[i]){
                    map[preselect[i]]++
                  }
                } 
            //console.log(obj.name); 
            });
        }
        else{
            for(i = 0; i < preselect.length; ++i){
               if (jsonData[0].comment === preselect[i]){
                 map[preselect[i]]++
               } 
            }
        }
        console.log(map);
        array = Object.keys(map).map(v => new Array(v, map[v]));
        var data = new google.visualization.DataTable(map);
        data.addColumn('string', 'Comment');
        data.addColumn('number', 'total');
        data.addRows(array);
      
        var options = {
            width: 600,
            height: 400,
            hAxis: {
              textStyle:{color: '#FFF'}
            },
            vAxis: {
              textStyle: {color: '#FFF'}
              
            },
            legend: {
              textStyle: {color: '#FFF'}
            },
            backgroundColor: '#343a40'
            //legend: {position: 'top', maxLines: 3}
            //colors: ['#28ed2b', '#f44141']
          };
  
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
        
      }

    </script>
  </head>

  <body>
    <div class="d-flex justify-content-around">
    <!--Div that will hold the pie chart-->
    <%if !current_manager.nil? %>
      <div id="chart_div"></div>
      <div id="chart_div2"></div>
    <%end%>
    
    </div>
    <div style = "height: 50px;" ></div>
    <div>
        <!--%= @specific_foods.to_json(:only => [ :name, :likes, :dislikes ]) %-->
    </div>
  </body>
</html>

