<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @foods.each do |food| %>
      <a class = "dropdown-item"><%= link_to "#{food.name}", filtered_data_path(food)%></a>
    <% end %>
  </div>
</div>

<div>
    <%= tally(@food) %>
</div>