// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
//@import url(vendor)

#page-title{
    color: #fefb64;
}
#image-background1{
    background-image: url("people-eating.jpg");
}
#image-background2{
    background-image: url('https://unsplash.it/1900/1080?image=1081');
}
#button{
    background-color: #e2b604; /* Blue */
    //font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    //border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 10px;
}
.form_button1{
    background-color: #e2b604; /* Blue */
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
